* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 2.1vw;
  font-family: 'Lato', 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

section {
  text-align: center;
}

pre {
  text-align: left;
  margin: 0;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1;
}

.dark, .light {
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark {
  left: 0;
  top: 0;
}

.light {
  right: 0;
  top: 0;
}

.dark.full, .light.full {
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem calc(25% + 1rem);
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .1rem;
  z-index: 1000;
}

section[data-skip] {
  display: none !important;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table th, .table td {
  padding: .2rem .4rem;
  border: .01rem solid black;
  white-space: nowrap;
}

ol, li {
  text-align: left;
}

li {
  padding-left: 1vw;
}
